<%- layout('layouts/main.ejs') %>
<h1>BienVenido al perfil!</h1>
<div class="card card-body">
     <h1>Usuario es :<b><%= usua.email %></b></h1>
     <p>Contraseña :<b><%= usua.password %></b></p>
     <p>ID :<B><%= usua._id %></B></p>
</div>